<div class="cart-table-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cart-title mt-50">
                    <h1>Cart</h1>
                    <div class="cart-table clearfix">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Remove from cart</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%current_user.cart.items.each do |item|%>
                                <tr>
                                    <td class="cart_product_img">
                                        <a href="/product/<%=item.id%>"><img src="<%=item.image_url%>" alt="product image"></a>
                                        </td>
                                    <td class="cart_product_desc">
                                        <h5><%=item.title%></h5>
                                    </td>
                                    <td class="price">
                                        <span>$<%=item.price%></span>
                                    </td>
                                    <td class="remove">
                                        <form class="cart clearfix" action="/addtocart" method="post">
                                            <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
                                            <input type="hidden" value="<%=item.id%>" name="id"/>
                                            <button name="remove" type="submit" class="btn amado-btn">Remove from cart</button>
                                        </form>
                                    </td>
                                </tr>
                                <%end%>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="cart-summary">
                        <h5>Cart Total</h5>
                        <ul class="summary-table">
                            <li><span>items:</span> <span><%=@cartlength%></span></li>
                            <li><span>subtotal:</span> <span>$<%=@cartprice%></span></li>
                            <li><span>delivery:</span> <span>Free</span></li>
                            <li><span>total:</span> <span>$<%=@cartprice%></span></li>
                        </ul>
                        <div class="cart-btn mt-100">
                        <form class="cart clearfix" action="/checkout" method="post">
                        <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
                        <button type="submit" class="btn amado-btn w-100">Checkout</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
