<% if @category != nil %>
<h2>
    <%= @category.name %>
</h2>
<% if @category.id >1 %>
<%=link_to category_path(id: (@category.id.to_i)-1) do %>
<i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
<% end %>
<% end %>
<% if @category.id <3 %>
<%=link_to category_path(id: (@category.id.to_i)+1) do %>
<i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
<% end %>
<% end %>
<%= render "home/index" %>
<% else %>
<%= render "home/index" %>
<% end %>