<div class="col-lg-12">
  <div class="clearfix d-flex flex-row flex-wrap">
        <% if @favoris.length == 0 %>
        <h2>Tu n'as pas encore d'images favoris !<br>N'hésites pas à retourner sur la <a href="/" class="btn btn-danger"><h2>page d'accueil</h2></a> pour en ajouter ;)</h2>
            <% else %>
      <% @favoris.each do |favor| %>
                  <% @items.each do |item| %>
                      <% if favor.item_id == item.id %>
                          <div class="single-products-catagory clearfix">
                              <a href="/product/<%=item.id%>">
                                  <div class="cropped">
                                      <% if item.catimage.attachment != nil %>
                                          <%= image_tag item.catimage %>
                                      <% else %>
                                          <img src="<%=item.image_url%>" alt="product image">
                                      <% end %>
                                  </div>
                                  <div class="hover-content">
                                    <div class="line"></div>
                                      <p>From <%=item.price%>$</p>
                                      <h4><%= item.title %></h4>
                                  </div>
                              </a>
                            </div>
                      <% end %>
                  <% end %>
          <% end %>
      <% end %>
  </div>
</div>