<!-- Search Wrapper Area Start -->

<!-- Search Wrapper Area End -->

<!-- ##### Main Content Wrapper Start ##### -->

    <!-- Header Area Start -->
    <!-- Render des forms d'inscription modals -->
    <%=render "layouts/modalconnection"%>
    <%=render "layouts/modalinscription"%>
    <!-- Header Area End -->

    <!-- Product Catagories Area Start -->
    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix">

            <%Item.all.each do |item|%>
            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="/product/<%=item.id%>">
                    <img src="<%=item.image_url%>" alt="product image">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From <%=item.price%>$</p>
                        <h4><%=item.title%></h4>
                    </div>
                </a>
            </div>
            <%end%>

        </div>
    </div>
