<div class="col-lg-9">
  <div class="float-right">
    <ul class="m-4">
      <li>
        <h2><%=current_user.nickname%></h2>
      </li>
      <li>
        <h3><%=current_user.email%></h3>
      </li>
    </ul>
  </div>
  <h2 class="m-4">MY ORDERS</h2>
  <div>
    <%current_user.orders.each do |order|%>
      <table class="table table-responsive">
        <thead>
          <tr>
            <h3>
              <%= order.created_at %>
            </h3>
            <th></th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <%order.items.each do |item|%>
            <tr>
              <td class="cart_product_img">
                <a href="/product/<%=item.id%>"><img style="height: 40px; width: 40px;" src="<%=item.image_url%>" alt="product image"></a>
              </td>
              <td class="cart_product_desc">
                <h5><%=item.title%></h5>
              </td>
              <td class="price">
                <span>$<%=item.price%></span>
              </td>
              </tr>
          <%end%>
        </tbody>
      </table>
    <%end%>
  </div>
</div>