<ul>
<% if current_user.profile_picture.attachment != nil %>
<li>
    <%= image_tag current_user.profile_picture %>
</li>
<% end %>
    <li><%=current_user.nickname%></li>
    <li><%=current_user.email%></li>
    <%current_user.orders.each do |order|%>
    <div class="cart-table clearfix">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <%order.items.each do |item|%>
                    <tr>
                        <td class="cart_product_img">
                            <a href="/product/<%=item.id%>"><img src="<%=item.image_url%>" alt="product image"></a>
                            </td>
                        <td class="cart_product_desc">
                            <h5><%=item.title%></h5>
                        </td>
                        <td class="price">
                            <span>$<%=item.price%></span>
                        </td>
                    </tr>
                    <%end%>
                    
                </tbody>
            </table>
        </div>
        <%= form_tag charges_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <label class="amount">
                <span>Amount: $5.00</span>
              </label>
            </article>
          
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="A month's subscription"
                    data-amount="500"
                    data-locale="auto"></script>
          <% end %>
        <%end%>
</ul>