<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <%= @item.title %>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <% if @item.catimage.attachment != nil %>
                                <%= image_tag @item.catimage %>
                                <% else %>
                                <a class="gallery_img" href="<%= @item.image_url %>">
                                    <img class="d-block w-100" src="<%= @item.image_url %>" alt="First slide">
                                </a>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">
                            <%= @item.price %>€</p>
                        <a>
                            <h6>
                                <%= @item.title %>
                            </h6>
                        </a>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="review">
                                <a href="#">Write A Review</a>
                            </div>
                        <div class="review">
                            <%= render "home/favorites" %>
                        </div>
                        </div>
                        <!-- Avaiable -->
                        <p class="avaibility"><i class="fa fa-circle"></i> En Stock</p>
                    </div>

                    <div class="short_overview my-5">
                        <p>
                            <%= @item.description %>
                        </p>
                    </div>

                    <!-- Add to Cart Form -->
                    <% if user_signed_in? %>
                    <form class="cart clearfix" action="/addtocart" method="post">
                        <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token" />
                        <% if current_user.cart.items.include?(@item)%>
                        <button name="remove" type="submit" class="btn amado-btn">Remove from cart</button>
                        <% else %>
                        <button name="add" type="submit" class="btn amado-btn">Add to card</button>
                        <% end %>
                    </form>
                    <% end %>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>


                    <div class="review">
                        <%Review.all.each do |review| %>
                            <%if params["id"].to_i == review.item_id %>
                                <p> <%=review.user.nickname%> a écrit à propos de ce produit : </p>
                                <p> <%=review.content%> - note: <%=review.star%>/10</p>
                            <%end%>
                        <%end%>
                    </div>
        </div>
    </div>
</div>