<h1>Modifier un produit</h1>

<%= form_for @item, url: {action: "update"} do |f| %>
<div class="form-group">
    <%= f.text_field :title, placeholder: 'TIIIIIIITRE', class: "form-control" %>
</div>
<div class="form-group">
    <%= f.text_area :description, placeholder: 'La Discription', class: "form-control" %>
</div>
<div class="form-group">
    <%= f.text_area :price, placeholder: 'Price', class: "form-control" %>
</div>
<div class="field">
    <%= f.label :profile_picture %><br />
    <%= f.file_field :catimage, autofocus: true %>
</div>

<div class="form-group">
    <button class="btn btn-outline-dark" type="submit">Mettre à jour</button>
</div>
<% end %>
