<div class="col-lg-9">

<h2 class="mt-4 mb-4">Ajouter un produit</h2>

<%= form_for @item, url: {action: "create"} do |f| %>
<div class="form-group row">
    <%= f.label :"Picture_name_:", class: "col-lg-2 col-form-label" %>
    <div class="col-lg-7">
    <%= f.text_field :title, placeholder: 'insert name here', class: "form-control" %>
    </div>
</div>

<div class="form-group row">
    <%= f.label :"Description_:", class: "col-lg-2 col-form-label" %>
    <div class="col-lg-7">
    <%= f.text_area :description, placeholder: 'insert description here', class: "form-control" %>
    </div>
</div>

<div class="form-group row">
    <%= f.label :"Pricing_:", class: "col-lg-2 col-form-label" %>
    <div class="col-lg-4">
    <%= f.text_field :price, placeholder: 'price', class: "form-control" %>
  </div>
</div>

<div class="form-group row">
    <%= f.label :"Picture_:", class: "col-lg-2 col-form-label" %>
    <div class="col-lg-7">
    <%= f.file_field :catimage, autofocus: true %>
    </div>
</div>

<div class="form-group">
    <button class="btn btn-outline-success" type="submit">Create New Product</button>
</div>
<% end %>

</div>
