<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>

<!-- User -->
    <ul>
        <% if user_signed_in? %>
        <% if current_user.profile_picture.attachment != nil %>
        <li>
            <%= image_tag current_user.profile_picture, class: "mb-2", style: "border-radius: 50%; height: 100px; width: 100px;" %>
<% else %>
<img src="/img/cat-avatar.jpg" alt="edit" style= "margin: 5px 5px; border-radius: 50%; height: 100px; width: 100px;" />
        </li>
        <% end %>
            <li>Bonjour, <%=current_user.nickname%> !</li>
            <li> <%= link_to "Votre Profil", profile_path, class: "text-dark" %> </li>
            <li> <%= link_to "Editer vos infos", edit_user_registration_path, class: "text-dark" %> </li>
            <li> <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "text-danger" %> </li>
            <%if current_user.admin == true %>
                <li> <%= link_to "Administrateur", admin_path, class: "text-primary" %> </li>
            <%end%>
        <% else %>
            <li><button class="modal-inscription btn amado-btn">Inscription</button></li>
            <li class="pt-1"><button class="modal-connection btn amado-btn">Connexion</button></li>
        <%end%>
    </ul>

<!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li class="active"><a href="/">Accueil</a></li>
            <!-- <li><a href="/cart">Panier</a></li>
            <li><a href="checkout.html">Order</a></li> -->
        </ul>
    </nav>

    <!-- Cart Menu -->
    <div class="cart-fav-search mb-100">
        <a href="/cart" class="cart-nav"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Mon panier <span><% if user_signed_in? %><% if current_user.cart == nil%>(0)<%else%>(<%=current_user.cart.items.length%>)<%end%><%else%>(0)<%end%></span></a>
        <% if user_signed_in? %>
        <a href="/favoris" class="fav-nav"><i class="fa fa-heart" aria-hidden="true"></i> Favoris</a>
        <% end %>
        <a href="#" class="search-nav"><i class="fa fa-search" aria-hidden="true"></i> Recherche</a>
    </div>
    <!-- Social Button -->
    <div class="social-info d-flex justify-content-between">
        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
</header>
