<!DOCTYPE html>
<html>
  <head>
    <title>Kittypics</title>
      <link rel="icon" href="https://i2.wp.com/sanspeurcreative.com/wp-content/uploads/2018/04/cropped-cat-favicon_1.png?fit=512%2C512" />
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- <div id="load_screen"><img src="/img/cat.gif"></div> -->
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
      <% end %>
    <%=render "layouts/modalconnection"%>
    <%=render "layouts/modalinscription"%>
    <%= render "layouts/search-wrapper" %>
    <br>
    <div class="main-content-wrapper d-flex clearfix alignons">
      <%= render "layouts/mobile-nav" %>
      <%= render "layouts/header" %>
        <div class="col-lg-12">
          <h1 class="website-title">
            <img class="title-pic" src="http://www.cndajin.com/data/wls/7/3817028.gif">
            Kittypics
          </h1>
        </div>
      <div class="col-lg-3">
      </div>
      <div class="col-lg-9">
        <%= yield %>
      </div>
    </div>
  <%= render "layouts/footer"%>
  </body>
</html>
