<!DOCTYPE html>
<html>
  <head>
    <title>CuttyCat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="main-content-wrapper d-flex clearfix">
    <%= render "layouts/search-wrapper" %>
    <%= render "layouts/mobile-nav" %>
    <%= render "layouts/header" %>
    <%= yield %>
  </div>
    <%= render "layouts/footer"%>

  </body>
</html>
